body {
    font-family: Arial;
    border: 0;
}

#h:hover {
    width: 130px;
    border: 1px solid gold;
    
    border-radius: 5px;
 
}

.navbar {
    height: 60px;
    width: 1465px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 130px;
    height: 45px;
    background-image: url(amazon-logo.jpg);
    background-size: cover;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 5px;
}

.location {
    height: 50px;
    width: 5px;
    color: white;
    margin-left: 30px;
    margin-top: 40px;
}

.locname {
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
}

.one {
    font-size: 10px;
    margin-top: 5px;
    color: white;
}

.two {
    font-weight: bolder;
    margin-bottom: 5px;
    color: white;
    font-size: 13px;
}

.search {
    height: 40px;
    width: 600px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-left: 30px;
    display: flex;
}

select {
    height: 40px;
    width: 60px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0px;
    background-color: rgb(224, 224, 224);
}

input {
    height: 38px;
    width: 500px;
    border: 0px;
}

#sicon {
    height: 40px;
    width: 40px;
    color: white;
    background-color:rgb(237, 110, 36);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language {
    height: 50px;
    width: 60px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
}

.lan {
    height: 30px;
    width: 40px;
    background-color: black;
    color: white;
}

.acc {
    height: 40px;
    width: 140px;
    background-color: rgb(0, 0, 0);
    margin-left: 20px;
}

#sing {
    color: white;
    font-size: 11px;
    margin-top: 5px;
    margin-left: 15px;
}

#log {
    height: 20px;
    width: 130px;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

.ret {
    height: 50px;
    width: 80px;
    background-color: rgb(0, 0, 0);
    margin-left: 25px;
    color: white;
}

.retone {
    font-size: 10px;
    margin-top: 10px;
}

.ordtwo {
    font-weight: bold;
}

.cart {
    height: 40px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    color: white;
    margin-left: 30px;
}

.cardtext {
    font-size: 20px;
    margin-top: 10px;
}

/* secondnavbar */

.secondnavbar {
    height: 40px;
    width: 1465px;
    background-color:rgb(31, 49, 63) ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.secondnavbarpropraty {
    color: white;
    justify-content: space-evenly;
    font-size: 15px;
}

#op {
    color: white;
    background-color:rgb(31, 49, 63) ;
}

a {
    text-decoration: none;
}

.img {
    height: 450px;
    width: 1465px;
    background-image: url(Bone.jpg);
    background-size: cover;
    
}