* {
     padding: 0px;
     margin: 0px;
}

body {
     background-color: rgb(155, 0, 0);
}

.one {
     height: 50px;
     width: 100%;
     display: flex;
     margin-top: 1px;
}

.in {
     height: 50px;
     width: 50px;
     background-color: rgb(0, 0, 0);
     margin-left: 1px;
}

.in:hover {
    animation-name: loder;
    animation-duration: 0.5s;
    animation-iteration-count: 5s;
}

@keyframes loder {
     10% {
          background-color: rgb(73, 2, 2);
     }

    50% {
          background-color: rgb(155, 0, 0);
     }

     100% {
          background-color: rgb(155, 0, 0);
     }
}
