*{
    font-family: Arial, Helvetica, sans-serif;
}

#div1{
    height: 670px;
    width: 400px;
    background-color: black;
    text-align: center;
    margin-left: 500px;
    border-radius: 5px;
}

input {
    height: 50px;
    width: 350px;
    margin-top: 130px;
    font-size: 30px;
    text-align: right;
    background: transparent;
    border: 0px;
    color: white;
}

#div2{
    height: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-top: 5px;
}

#col:hover{
    color: chocolate;
}

.equ{
    display: inline-block;
    border: 1px solid  rgb(105, 105, 105);
    width: 360px;
    margin-top: 80px;
}

.div3{
    height: 50px;
    width: 370px;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

 .div4{
    height: 50px;
    width: 370px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.div5{
    height: 50px;
    width: 370px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.div6{
    height: 50px;
    width: 370px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.div7{
    height: 50px;
    width: 370px;
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

button{
    background-color: black;
    color: white;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    font-size: 20px;
}

.hov:hover{
    background-color:chocolate;
    color: black;
}