*{
    text-align: center;
}

.Loader{
    height: 100px;
    width: 100px;
    margin-top: 300px;
    margin-left: 700px;
    border-top: 5px solid black;
    border-left: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    border-radius: 100px;
    animation-name: loder;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}

@keyframes loder {
    100% {
        rotate: 360deg;
    }
}