* {
     margin: 0px;
     padding: 0px;
     font-family: Arial, Helvetica, sans-serif;
}

body {
     background-color: rgb(21, 18, 26);
     justify-items: center;
     padding-top: 150px;
}

.main {
     height: 300px;
     width: 300px;
     background-color: rgb(21, 18, 26);
     filter: drop-shadow(0 0 00.75rem black);
     box-shadow: inset 1px 1px 15px #000;
     border: 25px solid rgb(34, 29, 43);
     border-radius: 1em;
}

h1 {
     text-align: center;
     padding-top: 50px;
     font-size: 15px;
     color: white;
}

i {
     color: rgb(186, 70, 70);
     font-size: 17px;
     filter: drop-shadow(0 0 0.75rem red);
     background: transparent;
}

input {
     height: 30px;
     width: 250px;
     margin-left: 25px;
     margin-top: 20px;
     background: transparent;
     border: 1px solid white;
     border-radius: 50px;
}

::placeholder {
     text-align: center;
}

#username {
     margin-top: 40px;
}

button {
     height: 30px;
     width: 250px;
     margin-top: 20px;
     margin-left: 25px;
     background-color: rgb(0, 255, 255);
     border-radius: 50px;
     border: 0px;
     font-size: 16px;
     color: black;
}

.end {
     height: 30px;
     width: 300px;
     margin-top: 10px;
     display: flex;
}

.forgate {
     height: 30px;
     width: 150px;
     margin-left: 30px;
     color: white;
     font-weight: bold;
}

.sign {
     height: 30px;
     width: 70px;
     margin-left: 30px;
     color: rgb(186, 70, 70);
     font-weight: bold;
}

.main::before {
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     filter: drop-shadow(0 15px 50px #000);
     border-radius: 20px;
}

/* .main::after {
     content: "";
     position: absolute;
     inset: 4px;
     background: #2d2d39;
     border-radius: 15px;
     border: 8px splid #25252b;
} */