body {
     justify-items: center;
     font-family: Arial;
     background: linear-gradient(90deg, rgb(255, 75, 204), rgb(0, 42, 255));
     padding: 0px;
     color: white;
}

.main {
     height: 400px;
     width: 400px;
     margin-top: 100px;
     border-radius: 100%;
     background-color: aqua;
     text-align: center;
     justify-items: center;
     background: linear-gradient(45deg, rgb(0, 42, 255), rgb(255, 75, 204));
     filter: drop-shadow(0 0 0.70rem rgb(0, 0, 0));
}

.logo {
     height: 100px;
     width: 100px;
     border: 5px solid rgb(227, 71, 157);
     background: transparent;
     font-size: 80px;
     border-radius: 100px;
     margin-top: 0px;
     background-color: white;
     color: linear-gradient(45deg, rgb(0, 42, 255), rgb(255, 75, 204));
}

h1 {
     color: white;
     font-size: 20px;
     letter-spacing: 5px;
}

#text {
     width: 250px;
     height: 40px;
     background: transparent;
     border: 2px solid white;
     border-radius: 10px; 
     margin-top: 20px;
     color: aliceblue;
}

#pass {
     width: 250px;
     height: 40px;
     background: transparent;
     border: 2px solid white;
     border-radius: 10px; 
     margin-top: 20px;
     color: aliceblue;
}

::placeholder {
     color: rgba(255, 255, 255, 75%);
     text-align: center;
     text-transform: uppercase;
}

button {
     height: 40px;
     width: 250px;
     /* background: linear-gradient(45deg, rgb(255, 75, 204),rgb(0, 42, 255)); */
     background-color: transparent;
     color: white;
     text-transform: uppercase;
     font-size: 15px;
     font-weight: bold;
     border-radius: 50px;
     border-color: blanchedalmond;
     margin-top: 15px;
}

.last {
     display: inline-block;
     margin-top: 15px;
}

#fo {
     color: white;
     margin-top: 50000px;
}

#ca {
     color: bisque;
}

a {
     text-decoration: none;
}