* {
     padding: 0px;
     margin: 0px;
}

body {
     background-color: rgb(14, 14, 42);
     font-family: Arial, Helvetica, sans-serif;
}

.nav {
     height: 40px;
     width: 100%;
     color: white;
     padding-top: 5px;
     display: flex;
}

.nav-video {
     height: 40px;
     width: 40px;
     background-color: rgb(255, 255, 255);
     align-items: center;
     font-size: 30px;
     border-radius: 100%;
     color: rgb(14, 14, 42);
     margin-left: 150px;
}

#nav-one {
     margin-top: 5px;
     margin-left: 2px;
}

.access {
     height: 40px;
     width: 400px;
     display: flex;
     margin-left: 320px;
     align-items: center;
     justify-content: space-around;
     font-size: 19px;
     font-weight: bold;
}

a {
     text-decoration: none;
     color: white;
}

button {
     height: 40px;
     width: 150px;
     margin-left: 300px;
     border-radius: 50px;
     border: none;
     background: linear-gradient(45deg, yellow, orange);
     color: white;
     font-size: 18px;
     font-weight: bold;
     cursor: pointer;
}

.line-two {
     height: 50px;
     width: 100%;
     display: flex;
     margin-top: 50px;
}

.menu {
     height: 30px;
     width: 30px;
     background-color: rgb(1, 1, 22);
     align-items: center;
     text-align: center;
     position: sticky;
     border-top: 1px solid rgb(202, 108, 74);
     border-right: 1px solid rgb(202, 108, 74);
     border-bottom: 1px solid rgb(202, 108, 74);
     cursor: pointer;
}

#bar {
     margin-top: 7px;
     color: rgb(202, 108, 74);
}

.cross {
     height: 20px;
     width: 20px;
     margin-left: 1300px;
     margin-top: 25px;
     color: white;
     text-align: center;
     transform: scaleX(1.3);
     font-weight: bold;
}

.coin {
     height: 40px;
     width: 40px;
     margin-top: 50px;
     margin-left: 300px;
     font-size: 30px;
     color: goldenrod;
}

.main-contain {
     height: 450px;
     width: 100%;
     display: flex;
}

.sosalmedia {
     height: 450px;
     width: 30px;
     margin-left: 50px;
}

.follow {
     height: 100px;
     width: 30px;
     writing-mode: vertical-rl;
     text-align: center;
     color: white;
}

.dased {
     height: 50px;
     width: 2px;
     background-color: white;
     margin-left: 15px;
     margin-top: 5px;
}

.platform {
     height: 200px;
     width: 30px;
     color: white;
     text-align: center;
}

#i {
     margin-top: 10px;
     font-size: 18px;
}

.two {
     height: 100%;
     width: 600px;
     margin-left: 50px;
}

.main-one {
     height: 100px;
     width: 600px;
     margin-top: 5px;
}

.h1 {
     height: 50px;
     width: 600px;
     color: white;
     text-align: center;
}

.h2 {
     height: 50px;
     width: 600px;
     display: flex;
}

.h3 {
     height: 50px;
     width: 100px;
     color: white;
     text-align: center;
     margin-left: 60px;
}

.h4 {
     height: 50px;
     width: 50%;
     background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); 
     -webkit-text-fill-color: transparent; 
     -webkit-background-clip: text; 
     
}

p {
     height: 50px;
     width: 530px;
     color: white;
     margin-left: 70px;
     margin-top: 20px;
     font-size: 17px;
}

#b2 {
     margin-left: 60px;
     margin-top: 50px;
}

#p1 {
     font-size: 13px;
     margin-left: 5px;
}

.star {
     height: 30px;
     width: 30px;
     background-color: rgb(80, 80, 254);
     color: white;
     text-align: center;
     margin-left: 500px;
     margin-top: 50px;
     border-radius: 100px;
     transform: matrix3d(0.6, 0.1, 0.7, 0, -0.5, 0.8, 0.1, 0, -0.6, -0.5, 0.5, 0, 0, 0, 0, 1);
     box-shadow: 2px 2px lightblue;
}

#st {
     margin-top: 7px;
}

.image {
     height: 200px;
     width: 200px;
     border:8px solid goldenrod;
     background-color: rgb(14, 14, 42);
     border-radius: 15px;
     margin-top: 50px;
     margin-left: 30px;
     background-image: url(mypic.jpg);
     background-size: cover;
     animation: shadows 5s infinite;
}


@keyframes shadows {
     0% {
       text-shadow: goldenrod 0 0 50px;
       box-shadow: 0px 0px 50px 50px rgb(182, 72, 3);
     }
     50% {
       text-shadow: blueviolet 0 0 0px;
       box-shadow: 0px 0px 50px 50px blueviolet;
     }
     75% {
       text-shadow: goldenrod 0 0 50px;
       box-shadow: 0px 0px 50px 50px rebeccapuprle;
     }
     100% {
       text-shadow: goldenrod 0 0 0px;
       box-shadow: 0px 0px 50px 50px rgb(182, 72, 3);
     }
}

.cstar {
     height: 20px;
     width: 20px;
     margin-left: 280px;
     margin-top: 300px;
     color: white;
     text-align: center;
}

.home {
     height: 30px;
     width: 60px;
     background: linear-gradient(45deg, yellow, orange);
     text-align: center;
     padding-top: 5px;
     border-radius: 5px;
}

.about:hover {
     height: 30px;
     width: 100px;
     background: linear-gradient(45deg, yellow, orange);
     text-align: center;
     padding-top: 5px;
     border-radius: 5px;
}

.project:hover {
     height: 30px;
     width: 80px;
     background: linear-gradient(45deg, yellow, orange);
     text-align: center;
     padding-top: 5px;
     border-radius: 5px;
}

.login:hover {
     height: 30px;
     width: 60px;
     background: linear-gradient(45deg, yellow, orange);
     text-align: center;
     padding-top: 5px;
     border-radius: 5px;
}