body {
    font-family: arial;
    background-color: rgb(220, 231, 240);
}


.num1 {
    background-color: rgb(220, 231, 240);
    color: rgb(255, 255, 255);
    height: 115px;
    width: 40px;
    padding-top: 0.5px;
    filter: drop-shadow(0 0 0.70rem rgb(84, 84, 84));
    border-radius: 7px;
    display: inline-block;
    margin-left: 200px;
}


.num2 {
    background-color: rgb(220, 231, 240);
    color: rgb(255, 255, 255);
    height: 360px;
    width: 40px;
    padding-top: 0.5px;
    filter: drop-shadow(0 0 0.70rem rgb(84, 84, 84));
    border-radius: 7px;
    display: inline-block;
    margin-left: 20px;
}


.num3 {
    background-color: rgb(220, 231, 240);
    color: rgb(255, 255, 255);
    height: 220px;
    width: 40px;
    padding-top: 0.5px;
    filter: drop-shadow(0 0 0.70rem rgb(84, 84, 84));
    border-radius: 7px;
    display: inline-block;
    margin-left: 100px;
}


.num4 {
    background-color: rgb(220, 231, 240);
    color: rgb(255, 255, 255);
    height: 360px;
    width: 40px;
    padding-top: 0.5px;
    filter: drop-shadow(0 0 0.70rem rgb(84, 84, 84));
    border-radius: 7px;
    display: inline-block;
    margin-left: 20px;
}


.num5 {
    background-color: rgb(220, 231, 240);
    color: rgb(255, 255, 255);
    height: 220px;
    width: 40px;
    padding-top: 0.5px;
    filter: drop-shadow(0 0 0.70rem rgb(84, 84, 84));
    border-radius: 7px;
    display: inline-block;
    margin-left: 100px;
}


.num6 {
    background-color: rgb(220, 231, 240);
    color: rgb(255, 255, 255);
    height: 360px;
    width: 40px;
    padding-top: 0.5px;
    filter: drop-shadow(0 0 0.70rem rgb(84, 84, 84));
    border-radius: 7px;
    display: inline-block;
    margin-left: 20px;
}

.z {
    height: 25px;
    width: 25px;
    margin-left: 7px;
    margin-top: 10px;
}


.n {
    margin-left: 8px;
    padding-top: 4px;
}


.z:hover {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    justify-items: center;
    background-color: rgb(220, 231, 240);
    filter: drop-shadow(0 0 0.70rem rgb(85, 85, 85));
    border-radius: 100%;
    color: rgb(92, 92, 255);
    cursor: pointer;
}

.n:hover {
    margin-right: 7px;
    cursor: pointer;
}
