* {
     padding: 0;
     margin: 0;
}

body {
     background-color: rgb(19, 19, 39);
}

.one {
     height: 400px;
     width: 300px;
     border: 5px solid goldenrod;
     margin-top: 100px;
     margin-left: 40%;
     border-radius: 500px;
     animation: spin;
     animation-duration: 1s;
     animation-iteration-count: infinite;
}

.two {
     height: 400px;
     width: 300px;
     border: 5px solid rgb(0, 255, 102);
     margin-top: 10px;
     margin-left: 10px;
     border-radius: 100px;
     animation: spin;
     animation-duration: 1s;
     animation-iteration-count: infinite;
}

.three {
     height: 400px;
     width: 300px;
     border: 5px solid rgb(234, 255, 0);
     margin-top: 10px;
     margin-left: 10px;
     border-radius: 200px;
     animation: spin;
     animation-duration: 1s;
     animation-iteration-count: infinite;
}

@keyframes spin {
          10% {
               transform: rotate(45deg);
          }
          50% {
               transform: rotate(200deg);
          }
          100% {
               transform: rotate(360deg);
          }
}