* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: aqua;
}

.image {
    height: 250px;
    width: 1476px;
    margin-top: 2px;
    margin-left: 2px;
    background-image: url(gc.jpeg);
}

marquee {
    height: 40px;
    background-color: yellow;
    color: red;
   font-size: 30px;
   font-weight: bold;
   margin-top: 10px;
}

h2 {
    color: blue;
    margin-top: 50px;
}

table {
    height: 300px;
    width: 1100px;
    margin-top: 10px;
    background: linear-gradient(45deg, red, orange);
    color: white;
    text-align: center;
    font-weight: 30px;
    font-weight: bold;
}