* {
     margin: 0px;
     padding: 0px;
}

#photo {
     height: 10px;
     width: 10px;
     animation-name: phot;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     margin-left: 40%;
     margin-top: 20%;   
}

@keyframes phot {
     0% {
          height: 10px;
          width: 10px;
     }
     10% {
          height: 30px;
          width: 30px;
     }
     30% {
          height: 50px;
          width: 50px;
     }
     60% {
          height: 100px;
          width: 100px;
     }
     90% {
          height: 200px;
          width: 200px;
     }
     100% {
          height: 400px;
          width: 400px;
     }
     0% {
          text-shadow: goldenrod 0 0 50px;
          box-shadow: 0px 0px 50px 50px rgb(182, 72, 3);
        }
        50% {
          text-shadow: blueviolet 0 0 0px;
          box-shadow: 0px 0px 50px 50px blueviolet;
        }
        75% {
          text-shadow: goldenrod 0 0 50px;
          box-shadow: 0px 0px 50px 50px rebeccapuprle;
        }
        100% {
          text-shadow: goldenrod 0 0 0px;
          box-shadow: 0px 0px 50px 50px rgb(182, 72, 3);
        }
}

